@import url("sp://resources/css/eve.css");
@import url("sp://resources/css/api.css");
@import url("sp://resources/css/player.css");
@import url("sp://resources/css/ui.css");
@import url("sp://resources/css/list.css");
@import url("sp://resources/css/api.css");

html,body {
	width:100%;
	height:100%;
}

#wrapper {
	width:100%;
	height:100%;
	position:relative;
}

.screen {
	position:relative;
	width:100%;
	height:100%;
}

.throbber {

}

.log-container {
	position:absolute;
	top:0;
	right:0;
	width:50%;
	height:25%;
	background-color:orange;
}

.song-container {
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:25%;
	background-color:red;
}

.song-container .sp-image {
	width:75px;
	height:75px;
}

.bottom-container {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:75%;
}

.player-list-container {
	position:absolute;
	bottom:0;
	left:0;
	width:25%;
	height:100%;
	background-color:yellow;
}

.playlist-container {
	position:absolute;
	bottom:0;
	right:0;
	width:75%;
	height:100%;
	background-color:grey;
}

.playlist-container #playlist-drop {
	position:absolute;
	width:100%;
	height:100%;
}

.playlist-container .sp-list {
	position:absolute;
	width:100%;
	height:100%;
}